.navbar-brand {
  font-size: 250% !important;
  font-family: 'Ubuntu', sans-serif;
}

.nav-link {
  font-size: 20px;
  color: #fff !important;
}

#title {
  background-color: #ff4c68;
}

.er {
  font-family: 'Montserrat', sans-serif;
  font-size: 350%;
  line-height: 1.5;
  margin: 10px;
  color: #fff;
}

.dff {
  width: 60%;
  margin: 30px 100px 30px;
  border-radius: 15%;
}

.b {
  margin: 20px 0px 0px 40px;
}

.f {
  margin: 20px 0px 0px 120px;
}

#features {
  padding: 7% 15%;
}

.features-box {
  text-align: center;
}

h3 {
  font-family: 'Montserrat';
  font-weight: bolder;
}

h2 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}

.icon {
  color: #ef8172;
  margin-bottom: 10px;
}

.icon:hover {
  color: #ff4c68;
}

#testimonials {
  padding: 0 15% 3%;
  background-color: #ef8172;
  text-align: center;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonials-image {
  width: 40%;
  border-radius: 100%;
  margin: 20px 20px 0px;
}

.testimonials-image1 {
  width: 40%;
  border-radius: 100%;
  margin: 20px 20px 0px;
}

#press {
  background-color: #ef8172;
  text-align: center;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}

.testimonial-text {
  font-size: 200%;
}

.testimonial-text1 {
  font-size: 200%;
}

.po {
  text-align: center;
}

.k {}

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 5% 7%;
}

#footer {
  padding: 2% 3%;
  text-align: center;
  background-color: #8f8f8f;
}

.DDD {
  color: #fff;
}

#pricing {
  padding: 5% 7%;
  text-align: center;
}

.card {
  padding: 0 0 30px;
}

.zdf {
  padding: 0 0 10px;
}

.sddd {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: bold;
  font-size: 200%;
  color: Black;
}

#jaya {
  background-color: #ef8172;
  padding: 5% 7%;
  text-align: center;
  color: #fff;
}

.CV {
  font-size: 130%;
  color: #fff;
}

.FD {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: bold;
  font-size: 200%;
  color: Black;
}

.KD {
  padding: 2% 0 0%;
}

em {
  font-weight: 500;
}
